<%- include('templates/map_header') %>
<%- include('templates/map') %>
<div class="flex container w-full mt-[20%] justify-end">
  <button id="get-location-battery" class="flex z-10 bg-buttonBg m-5  
  rounded-[100%]" onclick="getCurrentLocationBattery()">
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="-6 -6 36 36" fill="none" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-current-location">
      <circle r="15" cx="12" cy="12" fill="#074464" stroke="#074464" />
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
      <path d="M12 12m-8 0a8 8 0 1 0 16 0a8 8 0 1 0 -16 0" />
      <path d="M12 2l0 2" />
      <path d="M12 20l0 2" />
      <path d="M20 12l2 0" />
      <path d="M2 12l2 0" />
    </svg>
  </button>
</div>
<%- include('location_modal') %>
<%- include('templates/bottom_main_menu') %>
<%- include('templates/battery_station_footer') %>